@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  outline: none !important; }
  *:focus, *:active {
    outline: none; }

body {
  font-family: 'Open Sans', sans-serif; }

.b_header {
  padding: 0;
  position: relative;
  margin: 30px 0 0; }
  .b_header .navbar {
    border-radius: 0;
    min-height: auto;
    margin: 0;
    border: none; }
  .b_header .btn_drop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    cursor: pointer;
    opacity: 0.32;
    background: rgba(132, 132, 132, 0.1); }
    .b_header .btn_drop:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 6px;
      background: url("../images/selectdrop.svg") no-repeat;
      top: 50%;
      margin: -3px auto 0;
      left: 0;
      right: 0;
      opacity: 0.5;
      transition: all .2s linear; }
    .b_header .btn_drop:hover {
      opacity: 1; }
    @media (max-width: 992px) {
      .b_header .btn_drop {
        display: block; } }
    .b_header .btn_drop.-open:before {
      transform: rotate(180deg); }
  .b_header ._nav {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left; }
    @media (max-width: 992px) {
      .b_header ._nav {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background: #fff;
        padding: 10% 15px 50px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s linear;
        overflow: auto; } }
    @media (max-width: 768px) {
      .b_header ._nav {
        font-size: 14px; } }
    .b_header ._nav > ._item {
      float: left;
      position: relative;
      margin: 0 10px 0 0; }
      @media (max-width: 992px) {
        .b_header ._nav > ._item {
          float: none;
          display: block;
          width: 100%;
          border-bottom: 1px solid rgba(132, 132, 132, 0.32);
          margin: 0;
          padding: 0 35px 0 0; } }
      .b_header ._nav > ._item.-menu_long {
        position: initial; }
        @media (max-width: 992px) {
          .b_header ._nav > ._item.-menu_long {
            position: relative; } }
      .b_header ._nav > ._item:last-of-type {
        margin: 0; }
        @media (max-width: 992px) {
          .b_header ._nav > ._item:last-of-type {
            border: none; } }
      .b_header ._nav > ._item > ._link {
        font-size: 18px;
        color: #000000;
        padding: 0 15px;
        transition: all .2s linear;
        background: #bfbfbf;
        display: block; }
        @media (max-width: 992px) {
          .b_header ._nav > ._item > ._link {
            width: 100%;
            padding: 8px 0 8px 15px;
            border: none;
            background: none; } }
        @media (max-width: 768px) {
          .b_header ._nav > ._item > ._link {
            font-size: 16px; } }
        .b_header ._nav > ._item > ._link:hover {
          text-decoration: none;
          color: #7dc001; }
          @media (max-width: 992px) {
            .b_header ._nav > ._item > ._link:hover {
              border: none; } }
    .b_header ._nav.menu-is-open {
      opacity: 1;
      visibility: visible;
      display: block; }
    @media (max-width: 992px) {
      .b_header ._nav .container {
        padding: 0;
        width: 100%; } }
  .b_header ._dropdown-menu {
    display: none;
    min-width: 340px;
    background: #fff;
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 50;
    top: 100%;
    padding: 20px;
    box-shadow: 9px 33px 76px rgba(0, 0, 0, 0.26); }
    @media (max-width: 1200px) {
      .b_header ._dropdown-menu {
        right: 0; } }
    @media (max-width: 992px) {
      .b_header ._dropdown-menu {
        position: static;
        padding: 0;
        box-shadow: none;
        background: rgba(132, 132, 132, 0.05);
        min-width: initial; } }
    .b_header ._dropdown-menu.-menu_big {
      left: 0;
      right: 0;
      padding: 20px; }
      @media (max-width: 992px) {
        .b_header ._dropdown-menu.-menu_big {
          padding: 0; } }
    .b_header ._dropdown-menu ._link {
      color: #737272;
      display: block;
      padding: 13px 25px 13px 15px;
      position: relative; }
      @media (max-width: 992px) {
        .b_header ._dropdown-menu ._link {
          padding: 13px 15px; } }
      .b_header ._dropdown-menu ._link.-link_category:before {
        position: absolute;
        content: '';
        background-image: url(../images/arrow-green.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 9px;
        right: 15px;
        top: 50%;
        margin-top: -5px; }
        @media (max-width: 992px) {
          .b_header ._dropdown-menu ._link.-link_category:before {
            transform: rotate(90deg);
            display: none; } }
      .b_header ._dropdown-menu ._link.-link_category:hover:before {
        background-image: url(../images/arrow-white.svg); }
      .b_header ._dropdown-menu ._link:hover {
        background-color: #7dc001;
        color: #fff;
        text-decoration: none; }
  .b_header ._sub_level {
    padding: 8px 20px 8px 0;
    border-right: 1px solid #e4e4e4;
    margin: 0;
    list-style: none;
    max-width: 230px;
    width: 100%;
    float: left;
    min-height: 292px;
    position: relative; }
    @media (max-width: 992px) {
      .b_header ._sub_level {
        padding: 0;
        border: none;
        position: static;
        max-width: none;
        width: 100%;
        min-height: initial;
        float: none; } }
    @media (max-width: 992px) {
      .b_header ._sub_level > ._item {
        position: relative;
        padding: 0 35px 0 15px; } }
    .b_header ._sub_level > ._item > ._link {
      text-transform: uppercase;
      color: #000;
      position: relative; }
      .b_header ._sub_level > ._item > ._link:after {
        position: absolute;
        z-index: 10;
        content: '';
        left: 100%;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 100%; }
        @media (max-width: 992px) {
          .b_header ._sub_level > ._item > ._link:after {
            display: none; } }
      .b_header ._sub_level > ._item > ._link:hover {
        color: #fff; }
  .b_header ._advertising {
    padding: 12px 0 0 0;
    float: right;
    margin-right: 70px;
    max-width: 200px;
    text-align: center; }
    @media (max-width: 1200px) {
      .b_header ._advertising {
        margin: 0; } }
    @media (max-width: 992px) {
      .b_header ._advertising {
        display: none; } }
    .b_header ._advertising ._advertising_title {
      font-size: 16px;
      font-weight: 700; }
    .b_header ._advertising ._product {
      font-size: 12px;
      display: block;
      font-weight: 400; }
  .b_header ._sub_level_two {
    position: absolute;
    border-right: 1px solid #e4e4e4;
    padding: 8px 20px;
    margin: 0;
    list-style: none;
    width: 300px;
    left: 100%;
    top: 0;
    display: none; }
    @media (max-width: 1200px) {
      .b_header ._sub_level_two {
        width: 280px; } }
    @media (max-width: 992px) {
      .b_header ._sub_level_two {
        position: static;
        width: 100%;
        border: none;
        background: rgba(132, 132, 132, 0.05);
        padding: 0; } }
    @media (max-width: 992px) {
      .b_header ._sub_level_two > ._item_two {
        position: relative; } }
    .b_header ._sub_level_two > ._item_two > ._link {
      position: relative; }
      .b_header ._sub_level_two > ._item_two > ._link:after {
        position: absolute;
        z-index: 10;
        content: '';
        left: 100%;
        top: 0;
        bottom: 0;
        width: 20px;
        height: 100%; }
        @media (max-width: 992px) {
          .b_header ._sub_level_two > ._item_two > ._link:after {
            display: none; } }
  .b_header ._sub_level_three {
    position: absolute;
    padding: 8px 20px;
    margin: 0;
    list-style: none;
    width: 300px;
    left: 100%;
    top: 0;
    display: none; }
    .b_header ._sub_level_three ._link {
      padding: 13px 15px; }
    @media (max-width: 1200px) {
      .b_header ._sub_level_three {
        width: 270px; } }
    @media (max-width: 992px) {
      .b_header ._sub_level_three {
        position: static;
        width: 100%;
        background: rgba(132, 132, 132, 0.05); } }
  .b_header ._fixed_search {
    float: right;
    padding: 12px 0 0;
    margin: 8px 28px 0 0;
    position: relative;
    display: none; }
    .b_header ._fixed_search ._search {
      position: initial; }
    .b_header ._fixed_search ._form {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      min-width: 210px;
      margin: 0 -20px 0 0; }
  .b_header ._menu_toggler {
    position: fixed;
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 1001;
    background-color: rgba(125, 192, 1, 0.75); }
    @media (max-width: 992px) {
      .b_header ._menu_toggler {
        display: block; } }
    .b_header ._menu_toggler span {
      display: block;
      width: 24px;
      height: 3px;
      padding: 0;
      background: #fff;
      position: absolute;
      transition: transform 0.3s ease-in-out, top 0.25s ease-in-out 0.3s, opacity 0.25s ease-in-out 0.3s;
      transform-origin: center;
      left: 8px; }
    .b_header ._menu_toggler ._top {
      top: 14px; }
    .b_header ._menu_toggler ._middle {
      top: 20px; }
    .b_header ._menu_toggler ._bottom {
      top: 26px; }
    .b_header ._menu_toggler.menu-is-active span {
      transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out; }
    .b_header ._menu_toggler.menu-is-active span._top {
      top: 18px;
      transform: rotate(135deg); }
    .b_header ._menu_toggler.menu-is-active span._middle {
      opacity: 0;
      transform: rotate(135deg); }
    .b_header ._menu_toggler.menu-is-active span._bottom {
      top: 18px;
      transform: rotate(225deg); }

/*# sourceMappingURL=style.css.map */
