.b_header{
  padding: 0;
  position: relative;
  margin: 30px 0 0;
  
  .navbar{
    border-radius: 0;
    min-height: auto;
    margin: 0;
    border: none;
  }

  .btn_drop{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    cursor: pointer;
    opacity: 0.32;
    background: rgba(132, 132, 132, 0.1);

    &:before{
      position: absolute;
      content: '';
      width: 8px;
      height: 6px;
      background: url("../images/selectdrop.svg") no-repeat;
      top: 50%;
      margin: -3px auto 0;
      left: 0;
      right: 0;
      opacity: 0.5;
      transition: all .2s linear;
    }

    &:hover{
      opacity: 1;
    }
    @media(max-width: $screen-sm-max){
      display: block;
    }

    &.-open{
      &:before{
        transform: rotate(180deg);
      }
    }
  }
  
  ._nav{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;

    @media(max-width: $screen-sm-max){
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background: #fff;
      padding: 10% 15px 50px;
      opacity: 0;
      visibility: hidden;
      transition: all .3s linear;
      overflow: auto;
    }

    @media(max-width: $screen-xs-max){
      font-size: 14px;
    }
    
    >._item{
      float: left;
      position: relative;
      margin: 0 10px 0 0;

      @media(max-width: $screen-sm-max){
        float: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(132, 132, 132, 0.32);
        margin: 0;
        padding: 0 35px 0 0;
      }

      &.-menu_long{
        position: initial;
        @media(max-width: $screen-sm-max){
          position: relative;
        }
      }
      
      &:last-of-type{
        margin: 0;
        @media(max-width: $screen-sm-max){
          border: none;
        }
      }
      
      >._link{
        font-size: 18px;
        color: #000000;
        padding: 0 15px;
        transition: all .2s linear;
        background: #bfbfbf;
        display: block;

        @media(max-width: $screen-sm-max){
          width: 100%;
          padding: 8px 0 8px 15px;
          border: none;
          background: none;
        }

        @media(max-width: $screen-xs-max){
          font-size: 16px;
        }

        &:hover{
          text-decoration: none;
          color: #7dc001;
          @media(max-width: $screen-sm-max){
            border: none;
          }
        }
      }
    }

    &.menu-is-open{
      opacity: 1;
      visibility: visible;
      display: block;
    }

    .container{
      @media(max-width: $screen-sm-max){
        padding: 0;
        width: 100%;
      }
    }
  }
  
  ._dropdown-menu{
    display: none;
    min-width: 340px;
    background: #fff;
    list-style: none;
    margin: 0;
    position: absolute;
    z-index: 50;
    top: 100%;
    padding: 20px;
    box-shadow: 9px 33px 76px rgba(0, 0, 0, 0.26);

    @media(max-width: $screen-md-max){
      right: 0;
    }

    @media(max-width: $screen-sm-max){
      position: static;
      padding: 0;
      box-shadow: none;
      background: rgba(132, 132, 132, 0.05);
      min-width: initial;
    }

    &.-menu_big{
      left: 0;
      right: 0;
      padding: 20px;

      @media(max-width: $screen-sm-max){
        padding: 0;
      }
    }
    
    ._link{
      color: #737272;
      display: block;
      padding: 13px 25px 13px 15px;
      position: relative;

      @media(max-width: $screen-sm-max){
        padding: 13px 15px;
      }

      &.-link_category{
        &:before{
          position: absolute;
          content: '';
          background-image: url(../images/arrow-green.svg);
          background-repeat: no-repeat;
          width: 8px;
          height: 9px;
          right: 15px;
          top: 50%;
          margin-top: -5px;

          @media(max-width: $screen-sm-max){
            transform: rotate(90deg);
            display: none;
          }
        }
        &:hover{
          &:before{
            background-image: url(../images/arrow-white.svg);
          }
        }
      }

      &:hover{
        background-color: #7dc001;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  ._sub_level{
    padding: 8px 20px 8px 0;
    border-right: 1px solid #e4e4e4;
    margin: 0;
    list-style: none;
    max-width: 230px;
    width: 100%;
    float: left;
    min-height: 292px;
    position: relative;

    @media(max-width: $screen-sm-max){
      padding: 0;
      border: none;
      position: static;
      max-width: none;
      width: 100%;
      min-height: initial;
      float: none;
    }

    >._item{
      @media(max-width: $screen-sm-max){
        position: relative;
        padding: 0 35px 0 15px;
      }
      >._link{
        text-transform: uppercase;
        color: #000;
        position: relative;

        &:after{
          position: absolute;
          z-index: 10;
          content: '';
          left: 100%;
          top: 0;
          bottom: 0;
          width: 20px;
          height: 100%;
          @media(max-width: $screen-sm-max){
            display: none;
          }
        }
        
        &:hover{
          color: #fff;
        }
      }
    }
  }

  ._advertising{
    padding: 12px 0 0 0;
    float: right;
    margin-right: 70px;
    max-width: 200px;
    text-align: center;

    @media(max-width: $screen-md-max){
      margin: 0;
    }

    @media(max-width: $screen-sm-max){
      display: none;
    }
    ._advertising_title{
      font-size: 16px;
      font-weight: 700;
    }

    ._product{
      font-size: 12px;
      display: block;
      font-weight: 400;
    }
  }

  ._sub_level_two{
    position: absolute;
    border-right: 1px solid #e4e4e4;
    padding: 8px 20px;
    margin: 0;
    list-style: none;
    width: 300px;
    left: 100%;
    top:0;
    display: none;

    @media(max-width: $screen-md-max){
      width: 280px;
    }

    @media(max-width: $screen-sm-max){
      position: static;
      width: 100%;
      border: none;
      background: rgba(132, 132, 132, 0.05);
      padding: 0;
    }

    >._item_two{
      @media(max-width: $screen-sm-max){
        position: relative;
      }
      >._link{
        position: relative;

        &:after{
          position: absolute;
          z-index: 10;
          content: '';
          left: 100%;
          top: 0;
          bottom: 0;
          width: 20px;
          height: 100%;
          @media(max-width: $screen-sm-max){
            display: none;
          }
        }
      }
    }
  }

  ._sub_level_three{
    position: absolute;
    padding: 8px 20px;
    margin: 0;
    list-style: none;
    width: 300px;
    left: 100%;
    top:0;
    display: none;
    ._link{
      padding: 13px 15px;
    }


    @media(max-width: $screen-md-max){
      width: 270px;
    }

    @media(max-width: $screen-sm-max){
      position: static;
      width: 100%;
      background: rgba(132, 132, 132, 0.05);
    }
  }

  ._fixed_search{
    float: right;
    padding: 12px 0 0;
    margin: 8px 28px 0 0;
    position: relative;
    display: none;

    ._search{
      position: initial;
    }
    
    ._form{
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      min-width: 210px;
      margin: 0 -20px 0 0;
    }
  }
  
  ._menu_toggler{
    position: fixed;
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 1001;
    background-color: rgba(125, 192, 1, 0.75);

    @media(max-width: $screen-sm-max){
      display: block;
    }

    span{
      display: block;
      width: 24px;
      height: 3px;
      padding: 0;
      background: #fff;
      position: absolute;
      transition: transform 0.3s ease-in-out, top 0.25s ease-in-out 0.3s, opacity 0.25s ease-in-out 0.3s;
      transform-origin: center;
      left: 8px;
    }
    ._top{
      top: 14px;
    }
    ._middle{
      top: 20px;
    }
    ._bottom{
      top: 26px;
    }
    &.menu-is-active span {
      transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }

    &.menu-is-active span._top {
      top: 18px;
      transform: rotate(135deg);
    }

    &.menu-is-active span._middle {
      opacity: 0;
      transform: rotate(135deg);
    }

    &.menu-is-active span._bottom {
      top: 18px;
      transform: rotate(225deg);
    }
  }
}