$screen-md-max: 1200px;
$screen-sm-max: 992px;
$screen-xs-max: 768px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*{
  outline: none!important;
  &:focus, &:active{
    outline: none;
  }
}

body{
  font-family: 'Open Sans', sans-serif;
}

@import '_header.scss';